<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<!-- <form action="/oauth" method="GET">
		<input type="text" name="desc" placeholder="Donde Estas">
		<input type="text" name="value" placeholder="Precio">
		<input type="submit" value="Enviar">
	</form> -->

	<h1>HOLA</h1>
	<div class="container">
	    
	    <div class="line">
			<%= image_tag("UNlogo.png") %>
	    </div>

	</div>

</body>
</html>