<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" align="center">
	<form action="/oauth" method="GET">
		<%= image_tag("title1.png", :style => "width: 200px;") %>
		<input type="text" name="desc" placeholder="Donde Estas"><br><br>
		<input type="text" name="value" placeholder="Precio"><br><br>
		<input type="submit" value="Enviar">
	</form>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="white_un"><%= image_tag("white_un.png") %></div>